.admin-page {
    .btn-action {
        display: flex;
        button {
            cursor: pointer;
            display: flex;
            align-items: center;
            margin: 0 2px;
        }
    }
}
.modal-add-user {
    button {
        margin: 0 5px;
    }
}