.posts-page {
    width: 80vw;
    margin: 10px auto;
    h1 {
        font-weight: bold;
        font-size: 30px;
    }
    input {
        margin: 8px auto;
    }
    button.add {
        width: 100%;
        background-color: lightseagreen;
        color: #fff;
        border-radius: 16px;
    }
    .post {
        margin: 10px;
        &__content {
            background-color: lightsalmon;
            padding: 4px;
        }
        &__desc {
            margin: 4px auto;
            textarea {
                padding: 4px;
                width: 100%;
            }
        }
        &__action {
            display: flex;
            justify-content: flex-end;
            button {
                width: 200px;
                margin: 10px;
                background-color: rgb(202, 61, 17);
                color: #fff;
                &:hover {
                    outline: none;
                    border: none;
                }
            }
        }
    }
}