.header-home {
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    .login {
        padding: 5px;
        a {
            &:visited {
                color: white;
            }
        }
    }
}
.ant-popover-inner-content {
    padding: 0!important;
    .custom-left-header {
        .item {
            cursor: pointer;
            padding: 12px 16px;
            display: flex;
            align-items: center;
            span {
                margin-left: 4px;
            }
            &:hover {
                background-color: aliceblue;
            }
        }
    }
}